<div class="plan">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price"> $14 </span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--seconday badge--small">10% OFF </span>
      <span class="plan__description">Easy start on the cloud</span>
    </header>
    <div class="card__body">
      <ul class="list">
        <li class="list__item list--tick">Unlimited Websites</li>
        <li class="list__item list--tick">Unlimited Bandwidth</li>
        <li class="list__item list--tick">100 GB SSD Storage</li>
        <li class="list__item list--tick">3 GB RAM</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</a>
    </div>
  </div>
</div>