<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img
        src="/Images/testimonial.ad9df737.jpg"
        alt="A Happy, Smiling Customer"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use xlink:href="Images/sprite1.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium a
        delectus fuga voluptatem sit magni nobis quae consequuntur molestias
        nesciunt?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use
                xlink:href="Images/sprite.svg#underline-1437-svgrepo-com"
              ></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__org">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
