<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eius.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite1.svg#computerProfile"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque
        placeat amet impedit id aliquam magnam consequuntur sequi dicta soluta?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/easy.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite1.svg#setting"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque
        placeat amet impedit id aliquam magnam consequuntur sequi dicta soluta?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/fast.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite1.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque
        placeat amet impedit id aliquam magnam consequuntur sequi dicta soluta?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/WordpressPicture.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite1.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque
        placeat amet impedit id aliquam magnam consequuntur sequi dicta soluta?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/support.webp" alt="" />
  </article>
</section>
